.menu_item_animation {
    transition: transform 1.5s ease;
    transform: rotate(90deg) translateX(-285px) rotate(-90deg);
}

.menu_item_icon {
    transition: height 0.5s, width 0.5s;
}

.menu_item_icon:hover {
    transform: scale(1.2);
}

.item_select_container.ng-hide-add,
.item_select_container.ng-hide-remove {
    transition:all 0.5s linear;

    display:block!important;
    opacity:1;
}

.item_select_container.ng-hide {
    opacity:0;
}

.item_info.ng-hide-add,
.item_info.ng-hide-remove {
    transition:all 0.5s linear;

    display:block!important;
    opacity:1;
}

.item_info.ng-hide {
    opacity:0;
}