.character_banner {
    font-family: Quattrocento;
    color: whitesmoke;
    padding-top: 70px;
    text-align: center;
}

.character_name {
    font-size: 50px;
}

.character_server {
    font-size: 30px;
}

.profile_image {
    height: 100%;
    -webkit-clip-path: circle(250px);
}

#radial_menu {
    width: 550px;
    height: 550px;
    margin-top: 70px;
    position: relative;
}

.menu_item {
    height: 1px;
    width: 1px;
    overflow: visible;
    top: 50%;
}

.menu_item.highlight {
    box-shadow: 0 0 25px 30px gold;
    border: solid 1px;
    border-radius: 50%;
}

.menu_item.highlight img {
    transform: scale(1.2);
}

.menu_item_icon {
    height: 40px;
    width: 40px;
    position: relative;
    top: -20px;
    left: -20px; /*Shift image so animations are done using the center of the icon*/
}

.item_select_container {
    position: relative;
    margin: auto;
    width: 100%;
    bottom: 170px;
}

.item_selection {
    margin: auto;
    height: 64px;
    width: 385px;
}

.item_icon {
    width: 50px;
    float: left;
    margin-right: 5px;
}

.item_icon img {
    height: 50px;
}

.item_selection input {
    width: calc(100% - 55px);
    height: 48px;
    float: left;
    font-size: 24px;
}

.item_info {
    width: 300px;
    top: calc(50% - 100px);
    left: -950px;
    opacity: 1;
    border-radius: 10px;
}

.new_item_info {
    left: 600px;
}

.darktip-tooltip-wow .darktip-icon {
    margin: 2px;
}

.darktip-tooltip-wow {
    background-color: rgba(0,0,0,.85);
    color: white;
}


