<div>
    <div class="character_banner">
        <div class="character_name">{{character.name}}</div>
        <div class="character_server">{{character.server}}</div>
    </div>

    <div id="radial_menu" class="centered">
        <div class="profile_image" style="background: url({{character.image}}) center;"></div>

        <div ng-repeat="menuItem in menuItems" class="menu_item centered menu_item_animation" open-on-load="">
            <img ng-src="{{menuItem.icon}}"
                 ng-click="menuItemClicked(menuItem);$event.stopPropagation();"
                 ng-mouseover="menuItemMouseOver(menuItem)"
                 ng-mouseout="menuItemMouseOut()"
                 class="menu_item_icon circle"/>
        </div>

        <div ng-show="selectedMenuItem" class="item_select_container">
            <div class="item_selection">
                <div class="item_icon">
                    <img ng-if="newItemMatch" ng-src="{{getItemIcon(newItemMatch);}}" class="item_icon"/>
                    <img ng-if="!newItemMatch" src="images/items/unknown_item.png"/>
                </div>

                <input type="text" ng-model="newItemName"
                       ng-change="itemSelectTextChanged(newItemName)"
                       typeahead-on-select="itemSelected($item)"
                       typeahead="item.name for item in potentialNewItems | filter:$viewValue | limitTo:5"
                       class="form-control">
            </div>
        </div>

        <div ng-show="selectedMenuItem.item && (!hoveredItem || hoveredItem === selectedMenuItem.item)"
             ng-bind-html="getItemInfoPane(selectedMenuItem.item)"
             class="darktip-tooltip-wow item_info centered">
        </div>

        <div ng-show="hoveredItem && hoveredItem !== selectedMenuItem.item"
             ng-bind-html="getItemInfoPane(hoveredItem)"
             class="darktip-tooltip-wow item_info centered">
        </div>

        <div ng-show="newItemMatch"
             ng-bind-html="getItemInfoPane(newItemMatch)"
             class="darktip-tooltip-wow item_info new_item_info centered">
        </div>
    </div>
</div>