body, html {
    height: 100%;
    width: 100%;
    background: url("images/wow-world-of-warcraft.jpg") no-repeat;
    background-position-x: center;
    background-color: black;
    background-size: 1420px;
    margin: 0px;
}

.centered {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto auto;
}

.circle {
    border-radius: 50%;
}